body {
    background-color:#eeeeee;
    color:#333333;
    font-family:Arial, Verdana, sans-serif;
}

.thick-black-border {
    border-color: #324f39;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.box {
    float: right;
    background-color: #32A88B;
    border-style: solid;
    border-color: #324f39;
    border-width: 10px;
    width: 49%;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

#studiewijzer {
    text-align: left;
    color: white;
}

.topnav {
    background-color: #324f39;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.topnav a:hover {
    background-color: #ddd;
    color: black;
    }

.topnav a.active {
    background-color: #32A88B;
    color: white;
    }